<!---------------- Modal ---------------->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ ModalTitle }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-add [comm]="comm" *ngIf="ActivateAddEdit"></app-add>
                <app-del [comm]="comm" *ngIf="ActivateDel"> </app-del>
            </div>
        </div>
    </div>
</div>
<br>

<div class="form-group">
    <!----------------- Trigger-modal Button ---------------->
    <button type="button" class="btn btn-primary float-right m-2 bi bi-file-earmark-plus" data-toggle="modal"
        data-target="#exampleModal" data-backdrop="static" data-keyboard="false" (click)="addClick()">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
            <path
                d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z" />
            <path
                d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
        </svg>
    </button>

    <!----------------- Search Button ---------------->
    <button type="button" class="btn btn-primary float-right m-2 bi bi-file-earmark-plus" data-toggle="collapse"
        data-target="#collapseExample" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
    </button>

    <!----------------- Report Button ---------------->
    <button type="button" class="btn btn-primary float-right m-2 bi bi-file-earmark-plus">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
            <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
          </svg>
    </button>
</div>


<!---------------- Page Title ---------------->
<h2>How To</h2>
<div class="row">
</div>
<br>

<!---------------- Search TextBox ---------------->
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div class="container">
            <label>Search by platform: </label>
            <input (keyup)="onSearch($event)" type="text" class="form-control" />&nbsp;
        </div>
    </div>
</div>

<!---------------- HowTo Table ---------------->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>HowTo</th>
            <th>Command</th>
            <th>OS</th>
            <th>Platform</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of CommandList">
            <td>{{dataItem.Id}}</td>
            <td>{{dataItem.HowTo}}</td>
            <td>{{dataItem.Line}}</td>
            <td>{{dataItem.Platform}}</td>
            <td>N/A</td>
            <td>
                <!---------------- Edit-modal Button ---------------->
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal"
                    data-backdrop="static" data-keyboard="false" (click)="editClick(dataItem)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </button>

                <!---------------- Delete-modal Button ---------------->
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal"
                    data-backdrop="static" data-keyboard="false" (click)="deleteClick(dataItem)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </button>
            </td>
        </tr>
    </tbody>
</table>